
.car{
    display: inline-block;
    width:300px;
    border: solid red;
    margin: 13px;
    border-radius:7px;
}
img{
    width: 120px;
    height: 70px;
    display: inline-block;
}
.card{
    display: inline-block;
}